<h1>Listing events</h1>

<table>
<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <% if current_user.present? %>
    	<td><%= link_to 'Show', event_sessioned_show_path(event) %></td>
    <% else %>
    	<td><%= link_to 'Show', event %></td>
    <% end %>
  </tr>
<% end %>
</table>
<br />

<%= link_to 'New Event', new_event_path %>
